page-about {
    
    .toolbar-background-ios{
        background-image:url(/assets/images/bg1.png);
    }
    .toolbar-title-ios{
        color:#f4f4f4;
    }
    ion-content{
        font-weight:bold;
    }
    h1{
        padding-left:40px;
        font-weight:bold;
        font-size:xx-large;
    }
    ion-row{
        margin-bottom:15px;
    }
    .big200{
        font-size:200%;
        padding-left:10px;
        padding-right:10px;
    }
    .kidphoto{
        width:100%;
        border:#92B6DF 2px solid;
        border-radius:4px;
    }
    .bottomText{
        position:absolute; 
        bottom:15px;
        right:20px;
    }
    .little50{
        font-size:83%;
    }
    .hr{
        width:100%;
        height:1px;
        background-color:#e3e3e2;
    }
    .big175{
        font-size:170%;
    }
    .big120{
        font-size:140%;
        font-weight:lighter;
        margin-bottom:15px;
    }
    .big70px{
        font-size:12rem;
    }
    .lineheight10{
        line-height:20px;
    }
}
