page-device-notify {
    ion-content{
    color: #ffffff;
    background-color: #459A94;
    background-size:100%;
    background-image:url("/assets/images/bg1.png");
  }
    
  ion-grid {
    margin-top:120px;
    color:white;
  }
}
